/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  height: 55px;
  background: rgb(105, 118, 136);
  color: white;
}

nav * {
  float: left;
  width: 33.3333%;
}

nav ul li {
  width: 40%;
  list-style: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav button {
  width: 10%;
  margin: 1% 0 0 20%;
}

nav img {
  margin: 1% 0 0 0;
}

.firstSection {
  background: rgb(105, 118, 136);
  color: white;
}

.firstSection h1 {
  margin: 0;
  text-align: center;
  padding: 5% 0 2% 0;
}

.firstSection p {
  text-align: center;
}

.videoButtonContainer {
  text-align: center;
  padding: 2% 0 10% 0;
}

.secondSection h3 {
  text-align: center;
  padding: 5% 0 0 0;
}

.secondSection p {
  text-align: center;
  padding: 2% 0 10% 0;
}

.thirdSection {
  background: rgba(220, 223, 226, 1);
  height: 500px;
  width: 100%;
}

.thirdSectionPiece {
  background: rgba(220, 223, 226, 1);
  padding: 5% 10%;
  float: left;
}

.imgPlaceholder {
  height: 200px;
  width: 400px;
  background: rgb(105, 118, 136);
}

.thirdSection h4 {
  text-align: center;
}

.fourthSection {
  background: white;
  padding: 10% 0 10% 0;
}

.fourthSection h4,
p {
  text-align: center;
}

footer {
  height: 400px;
  width: 100%;
  background: rgb(24, 31, 41);
}

footer img {
  padding: 2% 1% 0 1%;
}

footer h6 {
  color: rgba(220, 223, 226, 1);
  padding: 0 1%;
}

footer ul li {
  list-style: none;
  padding: 0 1%;
}

footer a {
  color: rgba(220, 223, 226, 1);
  text-decoration: none;
}

.contactInfo * {
  color: white;
  float: right;
}

.disclaimer {
  padding: 2% 0;
  color: white;
  border-top: 2px solid white;
}

.disclaimerContainer img {
  float: right;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
