/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  height: 55px;
  background: rgb(105, 118, 136);
  color: white;
}

nav * {
  float: left;
  width: 33.3333%;
}

nav ul li {
  width: 40%;
  list-style: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav button {
  width: 10%;
  margin: 1% 0 0 20%;
}

nav img {
  margin: 1% 0 0 0;
}

.firstSection {
  background: rgb(105, 118, 136);
  color: white;
}

footer {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
